<!DOCTYPE html>
<html>

    <head>
        <title>My Serverless Application</title>
    </head>

    <body>
        <h1>My Serverless Application</h1>
        <p>Test Addition</p>
    </body>

</html>